<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

</head>

<body>
<a href="/home/" >home</a><br /><br />

{% if msg %}
    <p><a href="/loggedin/">{{msg}}</a></p>
    <a href="/logout/">logout</a>
{% else %}
	<a href="/login/">login</a>    
{% endif %}
<br  /><br  /><br  />
<form action="/bycategory/" method="get" >
<input type="text" name="category"  />enter category<br />
<input type="submit"  />
</form>
<br /><br />
<form action="/searchcourse/" method="get" >
<input type="text" name="cname"  />search<br />
<input type="submit"  />
</form>
<p>courses</p>
<ul>
{% for row in results %}
    <a href="/course/{{row.0}}">{{row.1}}</a>
    <br  />{{row.2}}&nbsp;&nbsp;{{row.3}}&nbsp;&nbsp;{{row.4}}&nbsp;&nbsp;{{row.5}}&nbsp;&nbsp;{{row.6}}<br  />
	<a href="/enroll/{{row.0}}">enroll</a><br  /><br  /><br  />
{% endfor %}
</ul>


</body>
</html>
