<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{{msg}}
courses by user::
<br  />
<ul>
{% for row in results %}
    <a href="/course/{{row.0}}">{{row.1}}</a>
    <br  />{{row.2}}&nbsp;&nbsp;{{row.3}}&nbsp;&nbsp;{{row.4}}&nbsp;&nbsp;{{row.5}}&nbsp;&nbsp;{{row.6}}<br  />
<br  />
{% endfor %}
</ul>
<br  />
lessons contributed by user::
<br  />
<ul>
{% for row in newresults %}
    <b><a href="/viewlesson/?cname={{row.6}}&fname={{row.4}}&lno={{row.0}}">{{row.1}}</a>
    </b><br  />&nbsp;&nbsp;{{row.3}}<br  />
    submitted by ::<a href="/byuser/{{row.5}} ">{{row.5}}<br  /></a>
{% endfor %}
</ul>
</body>
</html>
