<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

<script>
function clr(ye)
{
ye.value="";
}
</script>

</head>

<body>
<p>create course</p>
<form action="/addcourse/" method="get" >
<input type="text" name="cname"  />cname<br />
<textarea name="desc" onclick="clr(this)">add desc here</textarea><br />
<input type="text" name="category"  />category<br />
<textarea name="tags" rows="10" coulums="10" onclick="clr(this)">add tags separated by + for example:: 

computers+website development+java</textarea><br />
<input type="submit"  /><br />
</body>
</html>
