<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p>create course</p>
<form action="/addcourse/" method="get" >
<input type="text" name="cname"  />cname<br />
<textarea name="desc" >add desc here</textarea><br />
<input type="text" name="category"  />category<br />
<input type="submit"  /><br />
</body>
</html>
