<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>


</head>

<body>
<a href="/home/" >home</a><br /><br />
<p>{{msg}}</p><br/>
<form action="/feedbacks/" method="get">
    <input type="hidden" name="cid" value="{{ cid }}"/>
    <table>
        <tr>
           <th> EMAIL</th>
           <th></thead><strong>{{ user }}</strong></th>
        </tr>
        <tr>
           <td><strong>FEEDBACK</strong></td>
           <td><textarea rows="4" cols="80" name="feedback"></textarea></td>
        </tr>
        <tr>
            <td></td>
           <td><input type="submit" /></td>
        </tr>
    </table>
</form>

</body>
</html>
