<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p>forums for this course::</p>
<ul>
{% for row in results %}
		forum no :: {{row.0}}<br  />
        created by :: {{row.2}}<br  />
        <a href="/viewforum/?cid={{row.1}}&fno={{row.0}}" >{{row.3}}</a><br  />
        {{row.4}} posts<br  />
        started on :: {{row.5}}<br  /><br  />
{% endfor %}
</ul>
<form action="/addforum/" method="get">
<input type="hidden" name="cid" value="{{results.0.0}}"  />
<input type="text" name="fname" value="create a new forum"  /><br  />
<input type="submit"  />

</body>
</html>
