<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
</head>

<body>

<a href="/home/" >home</a><br /><br />
<ul>

    <ul>
        {% for row in results %}
            <strong> {{row.2}}</strong><br  />
            <ul>=><strong>{{row.3}}<br  />
                 {{row.4}}</strong>
                 <p>---------------------------------------------------------------------------------------------</p>
            </ul>
        {% endfor %}

    </ul>
</ul>


</body>
</html>
