<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

<script>
function newstart2()
{

qry=document.getElementById("qry").innerHTML;
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("4results").innerHTML=xmlhttp.responseText;
	
    }
  }
xmlhttp.open("GET","/bsearchlesson/?lname="+qry,true);
xmlhttp.send();

}


function start2()
{
qry=document.getElementById("qry").innerHTML;
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("3results").innerHTML=xmlhttp.responseText;
	newstart2();
    }
  }
xmlhttp.open("GET","/asearchlesson/?lname="+qry,true);
xmlhttp.send();
alert("sad");
}


function newstart()
{
qry=document.getElementById("qry").innerHTML;
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("2results").innerHTML=xmlhttp.responseText;
	
    }
  }
xmlhttp.open("GET","/bsearchcourse/?cname="+qry,true);
xmlhttp.send();

}


function start()
{
qry=document.getElementById("qry").innerHTML;
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("1results").innerHTML=xmlhttp.responseText;
	newstart();
    }
  }
xmlhttp.open("GET","/asearchcourse/?cname="+qry,true);
xmlhttp.send();

}
</script>

</head>

<body>
you searched for :: 
<p id="qry" >{{qry}}</p>
<p>results :: </p>
<ul>
{% for row in results %}
    <a href="/course/{{row.0}}">{{row.1}}</a>
    <br  />{{row.2}}&nbsp;&nbsp;{{row.3}}&nbsp;&nbsp;{{row.4}}&nbsp;&nbsp;{{row.5}}&nbsp;&nbsp;{{row.6}}<br  />
<br  />
{% endfor %}
</ul>
<button value=" more " onclick="start()" >more</button>
<p id="1results"></p>
<br  />
<p id="2results"></p>
<br  />
lessons::<br  />
<ul>
{% for row in newresults %}
    <b><a href="/viewlesson/?cname={{row.6}}&fname={{row.4}}&lno={{row.0}}">{{row.1}}</a>
    </b><br  />&nbsp;&nbsp;{{row.3}}<br  />
    submitted by ::<a href="/byuser/{{row.5}} ">{{row.5}}<br  /></a>
{% endfor %}
</ul>
<p id="3results"></p>
<br  />
<p id="4results"></p>
<br  />
<button value=" more " onclick="start2()" >more</button>

</body>
</html>
