<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{{msg}}
{{results}}
<br  /><br  />
<form action="/addpost/" method="get">
<input type="hidden" name="cid" value="{{cid}}"  />
<input type="hidden" name="fno" value="{{fno}}"  />
<input type="text" name="content" value="add a post to this forum" /><br  />
<input type="submit"  />

</body>
</html>
