<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<a href="/home/" >home</a><br /><br />

<p>logged in:: {{msg}} </p>
<a href="/logout/"><input type="button" value="logout" /></a><br  /><br  />
<p>courses::</p>
<ul>
{% for row in results %}
    <a href="/course/{{row.0}}">{{row.1}}</a>
    <br  />{{row.2}}&nbsp;&nbsp;{{row.3}}&nbsp;&nbsp;{{row.4}}&nbsp;&nbsp;{{row.5}}&nbsp;&nbsp;{{row.6}}<br  />
	<a href="/deletecourse/{{row.0}}">delete</a><br  /><br  /><br  />
{% endfor %}
</ul>

</body>
</html>
